body {
  font-family: Lora, serif;
  font-size: 15px;
  line-height: 20px;
}

#masthead {
  padding-top: 40px;
  border-top: 4px solid #444;

  h1 {
    line-height: 25px;
    font-size: 21px;
    margin: 0;
    span {
      font-size: 60%;
      color: #CECECE;
    }
    a {
      color: #333;
    }
    a:hover {
      color: #222;
      text-decoration: none;
    }

  }

  .subnav .nav {
    //margin-top: -40px;
  }

  #contact-details {
    margin-left: 15px;

    ul {
      margin: -29px 0 0 0;
      list-style: none;
    }
  }
}


#personal-statement {
  margin-top: 15px;
  text-align: center;
}

#posts .listing {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;

  li {
    padding-top: 8px;
    padding-bottom: 8px;
    list-style: none;
    border-bottom: 1px solid #E7E7E7;

    span {
      float: right;
      text-transform: uppercase;
    }
  }
}

a {
  color: #444;
}

a:hover {
  color: lighten(#444, 20%)
}

p {
  margin: 0 10px 20px 10px;
}

h1, h2, h3, h4, h5 {
  font-size: 17px;
}

h2, h3, h4, h5 {
  margin-bottom: 10px;
}
.page-title {
  margin-bottom: 22px;
}
