body {
  font-family: Lora, serif;
  font-size: 17px;
  line-height: 22px;
}

#masthead {
  border-top: 4px solid #444;
  text-align: center;

  h1 {
    font-size: 60px;
    margin-top: 0;
    a {
      color: #333;
    }
    a:hover {
      color: #222;
      text-decoration: none;
    }

  }
  #name {
    margin-top: 40px;
  }

  #contact-details {
    ul {
      list-style: none;
      margin: 10px auto;
    }

    li {
      margin-right: 10px;
      display: inline;
      font-size: 25px;
      line-height: 30px;
    }

    a:hover {
      text-decoration: none;
    }
  }

  .subnav .nav {
    //margin-top: -40px;
  }
}


#personal-statement {
  margin-top: 15px;
  text-align: center;
}

#posts .listing {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;

  li {
    padding-top: 8px;
    padding-bottom: 8px;
    list-style: none;
    border-bottom: 1px solid #E7E7E7;

    span {
      float: right;
      text-transform: uppercase;
    }
  }
}

p {
  margin-left: 10px;
  margin-right: 10px;
}

h2, h3, h4, h5 {
  margin-top: 30px;
  margin-bottom: 10px;
}
