<% wrap_layout :layout do %>
  <article>
    <h1>
      <%= data.page.title %>
      <time datetime="<%= data.page.date.xmlschema %>" pubdate><%= data.page.date.strftime('%b %e %Y') %></time>
    </h1>
    <div class="content">
      <%= yield %>
    </div>
  </article>
<% end %>
