<% wrap_layout :layout do %>
  <article>
    <h1>
      <%= data.page.title %>
      <time datetime="<%= data.page.date.xmlschema %>" pubdate><%= data.page.date.strftime('%b %e %Y') %></time>
    </h1>
    <div class="content">
      <%= yield %>
    </div>
  </article>
  <footer>
    <a href="https://twitter.com/BRMatt">Matt</a> is a developer for <a href="https://memberful.com">Memberful</a>, living in London.
  </footer>
<% end %>
