---
title: Matt Button - Software Developer
---
    <div id="personal-statement">
      <div class="container">
        <div class="row">
          <div class="offset2 span8">
            <p>Developer of whatnot</p>
          </div>
        </div>
      </div>
    </div>
    <section id="posts">
      <ol class="listing">
        <% blog.articles.each do |article| %>
          <li>
            <time datetime="<%= article.date.xmlschema %>"><%= article.date.strftime('%Y-%m-%d') %></time>
            <a href="<%= article.url %>"><%= article.title %></a>
          </li>
        <% end %>
      </ol>
    </section>
