---
title: Matt Button - Software Developer
---
    <div id="personal-statement">
      <div class="container">
        <div class="row">
          <div class="offset2 span8">
            <p>Freelance Software Developer, specalising in Ruby and Ruby on Rails. Currently studying for a degree in Computer Science at the <a href="http://cs.york.ac.uk">University of York</a>.</p>
          </div>
        </div>
      </div>
    </div>
    <section id="posts">
      <div class="container">
        <div class="row">
          <div class="span8 offset2">
            <ol class="listing">
              <% blog.articles.each do |article| %>
                <li><time datetime="<%= article.date.xmlschema %>"><%= article.date.strftime('%b %e %Y') %></time><a href="<%= article.url %>"><%= article.title %></a></li>
              <% end %>
            </ol>
          </div>
        </div>
      </div>
    </section>
