---
title: Matt Button - Software Developer
---
    <section id="posts">
      <ol class="listing">
        <% blog.articles.each do |article| %>
          <li>
            <time datetime="<%= article.date.xmlschema %>"><%= article.date.strftime('%Y-%m-%d') %></time>
            <a href="<%= article.url %>"><%= article.title %></a>
          </li>
        <% end %>
      </ol>
    </section>
